<h1>Sentia CSV to DB</h1>

<%= form_tag(upload_file_path, multipart:true, method: 'post') do %>
  <label for="file">Upload CSV file:</label>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload" %>
<% end %>