/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height:18px;
    background: #FFF;
    color:#333;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    min-width: 900px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a { color: inherit; }

 #center{
     width: 96%;
     margin: 0 2% ;
 }

 .table-wrapper{
    height:350px;
     }
 .main-table{
     margin-top: 50px;
     font-size: .9rem;
     width: 90%;
     table-layout: fixed;
     border-collapse: collapse;
 }

.main-table th{
    text-align: left;
    border-bottom: solid 1px #424242;
}

.main-table td{
    line-height: 30px;
}

.input{
    padding: 3px;
    border: 1px solid black;
    width: 500px;
    line-height: 25px;
}

h2{
    margin:30px 0 10px;
}

h2{
    margin:30px 0 10px;
}

.pagination{
    margin: 20px;
    width: 100%;
    text-align: center;
}

.flash{
    width: 80%;
}

.reload{
    margin: 10px;
}